<?xml version="1.0" encoding="UTF-8"?>


<!-- MyBatis3 Configuration -->
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!-- MyBatis3 Setting Tag -->  
<configuration>

	<!-- DB 접속 정보를 Properties 파일에서 추출해오기 -->
	<properties resource="mybatis/db.properties"></properties>

	<!-- 접속할 DB의 정보 설정  -->
	<environments default="development">
		
		<!-- 접속 가능한 DB 정보 태그 -->
		<environment id="development">
		
			<!-- environment id의 필수 요소 태그들 -->
			<!-- JDBC 를 이용한 트랜잭션 관리 설정 -->
			<transactionManager type="JDBC"></transactionManager>
			
			<!-- DB 접속 정보 -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		
		</environment>
		
	</environments>
	
	<!-- SQL 쿼리 매퍼 정보 -->
	<mappers>
		<mapper resource="web/dao/EmpMapper.xml" />
	</mappers>

</configuration>