<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 
	bean 으로 자동으로 등록하고 싶은 패키지, 해당 패키지 안에 Component 등의 어노테이션이 있는 클래스는
	자동으로 ApplicationContext 에 등록 된
	-->
	<context:component-scan base-package="test01" />


</beans>
