<?xml version="1.0" encoding="UTF-8"?>

<!-- MyBatis 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.SelectKeyDao">

	<insert id="insertMember" parameterType="dto.SelectKey">
	
		<selectKey order="BEFORE" resultType="int" keyProperty="no">
			SELECT TEST_MEMBER_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO test_member VALUES (#{no}, #{id}, #{pw})
		
		
		<!-- After 보다는 Before 가 더 좋다 -->
		<!-- <selectKey order="AFTER" resultType="int" keyProperty="no"> -->
				<!-- SELECT TEST_MEMBER_SEQ.CURRVAL FROM DUAL 위험! -->
				<!-- SELECT MAX(NO) FROM TEST_MEMBER  -->
		<!-- </selectKey> -->
	</insert>


</mapper>