<?xml version="1.0" encoding="UTF-8"?>

<!-- MyBatis 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.dao.DynamicQueryDao">

<!-- 	<select id="select" resultType="hashmap">
		
		SELECT * FROM TEST_MEMBER
	
		<if test="false">
			 ORDER BY NO
		</if>
	
	</select> -->
	
	<!-- <select id="select2" parameterType="string" resultType="dto.SelectKey">
		SELECT * FROM TEST_MEMBER
		<if test='id != null and !id.equals("")'>
		WHERE id LIKE '%' || #{id} || '%'
		</if>
	</select>
	
	<select id="select3" parameterType="dto.SelectKey" resultType="dto.SelectKey">
		SELECT * FROM TEST_MEMBER
		<if test='id != null and !id.equals("") and pw != null and !pw.equals("")'>
		WHERE id LIKE '%' || #{id} || '%' AND pw LIKE '%' || #{pw} || '%'
		</if>
	</select>
	
	<select id="select4" parameterType="hashmap" resultType="dto.SelectKey">
	
		SELECT * FROM TEST_MEMBER
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		 
			<choose>
				<when test="category.equals('id')">
					AND id = #{keyword}
				</when>
				
				<when test="category.equals('pw')">
					AND pw = #{keyword}
				</when>
			</choose>
		
		</trim>
		
	</select> -->
	
	<!-- Trim 사용 예시 1번 -->
	<!-- 
	
	<select id="trimexample1">
		SELECT * FROM EMP WHERE DEPTNO = 10	
		WHERE DEPTNO = 10 
		
			<trim prefix="AND (" prefixOverrides="OR" suffix=")">
			
			<if test="job != null">
				OR JOB LIKE '%' || #{job} || '%'
			</if>
			
			<if test="sal != null">
				OR SAL > #{sal}
			</if>
			
			</trim>
	</select> 
	
	-->
	
	<!-- Trim 사용 예시 2번 -->
	<!-- 
	<update id="update">
		UPDATE EMP 
		
		<set></set>
		
		<trim prefix="SET" suffixOverrides=",">
			<if test="ename != null">
				ENAME = #{ename},
			</if>
			
			<if test="job != null">
				JOB = #{job},
			</if>
			
			<if test="deptno != null">
				DEPTNO = #{deptno},
			</if>
			WHERE EMPNO = #{empno}
		</trim>
	</update>
	-->
	
	<select id="selectCheckbox" parameterType="hashMap" resultType="web.dto.Emp">
	
		SELECT * FROM EMP 
		
		<if test="dataArr != null">
		WHERE DEPTNO IN
		
			<foreach collection="dataArr" item="deptno" open="(" close=")" separator=",">
				#{deptno}
			</foreach>
			
		</if>
		
	</select>

</mapper>