<?xml version="1.0" encoding="UTF-8"?>

<!-- MyBatis 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.dao.DynamicQueryDao">

<resultMap type="web.dto.Emp" id="Emp"></resultMap>
	
	<!-- TypeAlias 를 사용하여 resultType = Emp 가 가능하다 -->
	<select id="selectCheckbox" parameterType="hashMap" resultType="EmpDTO">
	
		SELECT * FROM EMP 
		
		<if test="dataArr != null">
		WHERE DEPTNO IN
		
			<foreach collection="dataArr" item="deptno" open="(" close=")" separator=",">
				#{deptno}
			</foreach>
			
		</if>
		
	</select>

</mapper>